{
  "parser": "babel-eslint",
  "globals": {
    "super": true // ugh
  },
  "rules": {
    "strict": 0,
    "quotes": "single",
    "no-unused-vars": false // all the exports
  },
  "env": {
    "browser": true,
    "node": true
  }
}
