.input-group {
  width: 100%;
}

.input-group > input[type="text"] {
  width: 100%;
}

.input-group > * {
  border: solid 1px black;
  border-radius: 0;
  border-right: 0;
}

.input-group > *:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-group > *:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: solid 1px black;
}

.input-group-btn {
  overflow: hidden;
}

button {
  background-color: var(--theme-primary);
  color: white;
  padding: 5px;
  cursor: pointer;
}

nav > button {
  border: solid 1px black;
  border-radius: 4px;
  align-items: center;
}

.input-group-btn > button {
  width: 70px;
  justify-content: center;
  border: 0;
}

.input-group-btn:only-child > .btn,
.input-group-btn:only-child {
  width: 100%;
}