doctype html
html(lang="en")
head
  title Draw Game
  meta(charset="utf-8")
  meta(name="description" content="")
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
  link(rel="stylesheet" href="/styles/main.css")

body
  .container-fluid
    header.header
      h3.text-muted Draw Game
    
    div#view

  footer.footer
    a(href="https://github.com/jordanlaforest/drawgame") GitHub
  script(src="/bundle.js")