doctype html
html(lang="en")
  head
    title Draw Game
    meta(charset="utf-8")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

  body
    div#view
    script(src="/assets/bundle.js")