doctype html
html.no-js
  head
    meta(charset='utf-8')
    title Draw Game inspired by DrawSomething
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // inject:bower:css

    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='styles/main.css')
    // endinject

  body(ng-app='drawgameApp')
    // Add your site or application content here
    .container-fluid
      .header
        h3.text-muted drawgame
          div(ng-controller='PlayerCtrl')
          // This div will display the players name (and allow them to change it)
      div(ng-view='')

      .footer
        p Created by Jordan Laforest and Nicholas Dujay

    // inject:bower:js
    script(src='bower_components/socket.io-client/socket.io.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-touch/angular-touch.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/node-uuid/uuid.js')
    // endinject

    // inject:app:js
    script(src= mainScript)
    // endinject
