.list-unstyled {
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list-unstyled {
  overflow-y: scroll;
    flex: 1;
}


.list-unstyled strong {
  display: contents;
}

.server-message {
  justify-content: center;
}