.lobbyCard {
  margin: 10px;
}

.lobbyCard > .panel-body {
  height: 100px;
}

@media (min-width: 600px){
  .lobbyCard {
    flex: 1 0 43%;
    max-width: 43%;
  }
}

@media (min-width: 992px){
  .lobbyCard {
    flex: 1 0 31%;
    max-width: 31%;
  }
}