canvas {
  border: 5px solid red;
}

.lopadding {
  padding-left: 3px !important;
  padding-right: 3px !important;
}

.colour-box {
  width: 100%;
  height: 50px;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}

.gridClearfix {
  float: none;
}