<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-default" ng-controller="PlayerListCtrl">
        <div class="panel-heading">
          Players
        </div>
        <div class="panel-body">
          <ul class="list-group">
						<li ng-repeat="player in players" ng-class="{'active':isDrawing(player.id)}" class="list-group-item">{{player.username}}<span class="pull-right">{{player.score}}</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="panel panel-default" ng-controller="CanvasCtrl">
        <div class="panel-heading text-center">
          Your word is <strong>Dog</strong>
        </div>
        <div class="panel-body">
          <canvas id="canvas" width="960" height="640"></canvas>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="panel panel-default" ng-controller="ChatCtrl">
        <div class="panel-heading">
          Chat
        </div>
        <div class="panel-body">
					<ul class="list-unstyled">
          	<li ng-repeat="mes in messages"><strong>{{mes.name}}:</strong> {{mes.text}}</li>
          </ul>
        </div>
        <div class="panel-footer">
					<form role="form" ng-submit="sendMessage()">
						<div class="input-group">
							<input type="text" ng-model="message" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">Send</button>
							</span>
						</div>
					</form>
        </div>
      </div>
    </div>
  </div>
</div>
